html {
    font-family: 'Roboto', sans-serif;
    display: block;
    height: 100%;
}

h1 {
   font-size: 3em; 
   color: #262626;
   display: block;
   margin: 1em auto;
   text-align: center;
}   

.wrapper {
    display: flex;
    width: 50em;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile {
    width: 20em;
    padding: 1em 2em;
    text-align: center;
    border-radius: 2em;
    color: white;
    height: 8em;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.tile.double {
    width: 60em;
}

.tile .icon-box {
    display: inline-block;
    width: 6em;
    height: 100%;
    padding: 1.2em;
}

.tile .text {
    display: inline-block;
    width: 70%;
    font-weight: 800;
    font-size: 3em;
}

.text-container {
    font-size: 0.8em;

}

.icon {
    height: 100%;
}

.hidden {
    display: none;
}

#temperature {
    background-color: #ED4C67;
}

#humidity {
    background-color: #12CBC4;
}

#soil-humidity {
    background-color: #BEDD35;
}

#wind {
    background-color: #52D9D4;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2em;
    /* height: 34px; */
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(100% - 8px);
    width: 1em;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #61D1C4;
}

input:focus + .slider {
    box-shadow: 0 0 1px #61D1C4;
}

input:checked + .slider:before {
    -webkit-transform: translateX(0.75em);
    -ms-transform: translateX(0.75em);
    transform: translateX(0.75em);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* First breakpoint
@media (min-width: 400px) and (max-width: 1200px){
    .tile{
        width: 20em;
    }
}

@media (min-width: 1200px){
    .tile {
        display: inline-block;
        width: 24em;
        height: 18em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .tile .icon-box {
        height: 10em;
    }

    .wrapper {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    h1 {
        margin: 2em auto;
    }
} */